name: PMD Code Analysis

on: push

permissions:
  contents: read

jobs:
  pmd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Set up JDK 21
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Run PMD
        run: ./gradlew pmdMain