name: PMD Code Analysis

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  pmd:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Give execute permission to gradlew
        run: chmod +x gradlew

      - name: Run PMD
        run: ./gradlew pmdMain --info